aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.19.0
async-timeout==4.0.2
attrs==23.1.0
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
deepdiff==6.3.0
disnake==2.8.1
frozenlist==1.3.3
humanize==4.6.0
idna==3.4
multidict==6.0.4
ordered-set==4.1.0
orjson==3.8.11
prettytable==3.7.0
pypng==0.20220715.0
pytz==2023.3
qrcode==7.4.2
requests==2.30.0
typing_extensions==4.6.0
urllib3==1.26.15
wcwidth==0.2.6
yarl==1.9.2
